body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: 'Supermercado One', cursive;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2em;
}
.card {
  position: relative;
  margin: 0 auto;
  max-width: 70%;
  /*height: auto;*/
  /*border: solid black 0.1em;*/
  background: #e2d784;
  box-shadow: -0.4rem -0.4rem 0.2em #7e7d74;
  padding: 1em;
}
.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  background-color: red;
}
.list-check {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  /* background-color: ;*/
}

.bookmark {
  position: absolute;
  top: -1em;
  right: 1em;
}
li {
  background-color: #e2d784;
  padding-top: 1em;
  padding: 1em 1.5em;
}
.centerbutton {
  text-align: center;
}
.button {
  padding: 0.7rem 2rem;
  /*border-radius: 0.5rem;*/
  background-color: #062c30;
  border: none;
  /*box-shadow: inset 0 -0.4rem #2e2d3b;*/
  color: #e2d784;
  font-weight: 900;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: -0.4rem -0.4rem 0.2em #7e7d74;
}
img {
  width: 3em;
  background-color: aliceblue;
}
img {
  width: 3em;
  background-color: aliceblue;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #05595b;
  padding-top: 0.2em;
}
.answer {
  display: none;
}
.answer-active {
  display: block;
}
